<div class="dialog">

  <h2 class="title">
    {{ isEdit ? 'Edit Employee' : 'Add Employee' }}
  </h2>

  <form [formGroup]="form">

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Age</mat-label>
        <input matInput formControlName="age" />
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline" class="full">
      <mat-label>Description</mat-label>
      <input matInput formControlName="description" />
    </mat-form-field>

    <div class="actions">

      <button mat-button (click)="close()">
        Cancel
      </button>

      <button mat-flat-button color="primary"
              [disabled]="form.invalid"
              (click)="save()">
        Save
      </button>

    </div>

  </form>

</div>